.principal
{
    position: relative;
 width: 500px;
 height: 250px;
 background-color: cornflowerblue;
 border-style: solid;
 border-color: rgb(255, 0, 221); 
 border-radius: 20px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 justify-items: center;
 align-items: center;
 align-content: center;

  
 
}
.interna
{
 width: 100px;
 height: 100px;
 background-color: rgb(235, 13, 13);
 border-radius:50px;
     
}
.menu
{
    
 width: 150px;
 height: 50px;
 background-color: antiquewhite;
 position: absolute;
 left: 175px;
 top: 0px;   
}
.centralizado
{
 display: flex;
 flex-direction: row;
 justify-content: center;
 justify-items: center;
 align-items: center;
 align-content: center;   
}
.menu:hover
{
 background-color: blue;   
}